# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
nbproject/
build/

# Logs / OS
*.log
.DS_Store
Thumbs.db

# Secrets / entorno
.env
*.pem
*.key
application-local.properties
application-prod.properties